<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Comment</title>
    <link rel="stylesheet" href="/css/edit.css">
</head>
<body>
    <fieldset>
        <form action="" method="post">
            <h1>Edit the Comment</h1>
            <strong>User Name</strong><br><input type="text" value="<%=comment.username%>" name="username" id="user">
            <% if (err) {%>
                <p style="color: red;"><%=err%></p>
                <%}%>
                <br><br>
            <strong>Comment</strong><br><textarea name="text" id="text"><%=comment.text%></textarea>
            <br><br>
            <button>Save Edit</button>
        </form>
    </fieldset>
</body>
</html>