<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HomePage</title>
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
    <div class="container">
        <h1>Welcome To Our Comments App !!!</h1>
        <p id="desc">This app shows the comments posted by the different users and also displays the time of the posting/editing of the comment. 
            <br>This app also have the functionalities of editing or deleting the comment. </p>
        <a href="/data">Enter</a>
    </div>
</body>
</html>