body {
    background-color:darkslateblue;
    color: white;
}

a {
    /* margin: auto; */
    text-decoration: none;
    display: inline-flex;
    border-color: black;
    border-width: 3px;
    width: 120px;
    height: 30px;
    align-items: center;
    justify-content: center;
    margin: 10px;
    padding-top: 5px;
    transition: all 0.5s ease-in-out;
}
a:hover {
    border-radius: 5px;
    transition: all 0.5s ease-in-out;
}

fieldset {
    margin: auto;
    margin-top: 50px;
    margin-bottom: 20px;
    text-align: center;
    width: fit-content;
    height: fit-content;
    transition: all 0.5s ease;
    border-width: 5px;
    border-radius: 5px;
    border-color: black;
    
}

fieldset:hover {
    background-color: rgb(52, 44, 108);
    transition: all 0.5s ease;
    box-shadow: 0px 0px 10px white;
    border-radius: 5px;
}

#edit-btn {
    color: white;
    background-color: blue;
}

#delete-btn {
    color: white;
    background-color: red;
}




h3{
    color: rgb(183, 220, 255);
    text-align: left;
}

strong{
    color: rgb(0, 0, 0);
    font-size: 25px;
}